.row{
  display: flex;
  gap: 100px;
}
.box {
  height: 200px;
  width: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.box1 {
  height: 200px;
  width: 200px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.box2 {
  height: 200px;
  width: 200px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}